header {
  height: 101px;
  width: 100%;
}
header nav ul li {
  float: left;
  line-height: 101px;
  padding: 0 8px;
  margin: 0 23px;
  border-bottom: 1px solid blue;
}
header input {
  width: 360px;
  height: 18px;
}
